<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>华为商城官网-提供</title>
    <link rel="shortcut icon" href="http://www.vmall.com/favicon.ico">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
</head>

<body>
    <div class="header">
        <div class="header_1">
            <span>
                <a href="login.html">[登录]</a>
                <a href="#">[注册]</a>
            </span>
            <span> <b>|</b>
                <a href="#">优购码</a>  <b>|</b>
                <a href="#">我的订单</a>
                <b>|</b>
                <a href="#">帮助中心</a>
                <b>|</b>
                <a href="#">华为商城手机版</a>
            </span>
        </div>
    </div>
    <div class="header_nav">
        <div class="header_2">
            <div class="header_logo">
                <a href="#">
                    <img src="http://res.vmall.com/images/echannel/newLogo.png" alt="">
                </a>
            </div>
            <div class="header_2_nav">
                <div class="nav_1">
                    <b>热门搜索：</b>
                    <a href="#">mate7</a>
                    <a href="#">畅玩版</a>
                    <a href="#">荣耀3c</a>
                    <a href="#">x1</a>
                    <a href="#">华为p7</a>
                </div>
                <div class="nav_2">
                    <form action="">
                        <input class="text" type="text" placeholder='荣耀6'>
                        <input type="submit" class="button" value="">
                    </form>
                </div>
            </div>
            <div class="header_we">
                <div class="header_we_1"><a href="#">我的商城</a><b><a href=" #"><img src=" http://res.vmall.com/images/echannel/icon/new.png" alt=""></a></b>
                </div>
                <div class="header_we_2"><a href="  #">我的购物车</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main_nav">
        <div class="main_nav_1">
            <div class="title">
                <div class="h">
                    <h2>全部商品</h2>
                </div>
                <div class="b">
                    <ol>
                        <li id="b_1">
                            <div class="b_1">
                                <h3>手机</h3>
                                <a href="#">手机</a>
                                <a href="#">合约机</a>
                                <a href="#">号卡套餐</a>
                            </div>
                            <div id="b_2_1" class="b_2_1">
                              <ul>
                               <li><a href="#">手机</a></li>
                                <li><a href="#">合约机</a></li>
                                <li><a href="#">卡号套餐</a></li> 
                              </ul>
                              <dl>
                                <dt>推荐商品</dt>
                                <dd><a href="#">荣耀3c套餐版</a></dd>
                                <dd><a href="#">荣耀3c畅玩联通合约</a></dd>
                                <dd><a href="#">荣耀6联通合约</a></dd>
                              </dl>
                            </div>
                        </li>
                        <li id="b_2">
                            <div class="b_1">
                                <h3>平板电脑</h3>
                                <a href="#">平板电脑</a>
                                <a href="#">配件</a>
                            </div>
                            <div id="b_2_2" class="b_2_2">
                              <ul>
                               <li><a href="#">平板电脑</a></li>
                                <li><a href="#">配件</a></li>                        
                              </ul>
                              <dl>
                                <dt>推荐商品</dt>
                                <dd><a href="#">荣耀平板</a></dd>
                                <dd><a href="#">10.1英寸平板</a></dd>
                              </dl>
                            </div>
                        </li>
                        <li id="b_3">
                            <div class="b_1">
                                <h3>宽带网络</h3>
                                <a href="#">移动网络</a>
                                <a href="#">家庭网络</a>
                                <a href="#">秘盒</a>
                            </div>
                            <div id="b_2_3" class="b_2_3">
                              <ul>
                               <li><a href="#">移动网络</a></li>
                                <li><a href="#">家庭网络</a></li>
                                 
                              </ul>
                              <dl>
                                <dt>推荐商品</dt>
                                <dd><a href="#">荣耀立方</a></dd>
                                <dd><a href="#">猫王3G路由器</a></dd>
                                <dd><a href="#">便携无线路由器</a></dd>
                              </dl>
                            </div>
                        </li>
                        <li id="b_4">
                            <div class="b_1">
                                <h3>必备配件</h3>
                                <a href="#">保护壳</a>
                                <a href="#">保护套</a>
                                <a href="#">贴膜</a>
                            </div>
                            <div id="b_2_4" class="b_2_4">
                              <ul>
                               <li><a href="#">保护壳</a></li>
                                <li><a href="#">保护套</a></li>
                                <li><a href="#">贴膜</a></li>
                                <li><a href="#">蓝牙耳机</a></li>
                                <li><a href="#">入耳式耳机</a></li> 
                              </ul>
                              <dl>
                                <dt>推荐商品</dt>
                                <dd><a href="#">耐翔  蜂巢  蓝牙耳机</a></dd>
                                
                              </dl>
                            </div>
                        </li>
                        <li id="b_5">
                            <div class="b_1">
                                <h3>基础配件</h3>
                                <a href="#">蓝牙音箱</a>
                                <a href="#">移动电源</a>
                                <a href="#">电池/充电器</a>
                            </div>
                            <div id="b_2_5" class="b_2_5">
                              <ul>
                               <li><a href="#">蓝牙音箱</a></li>
                                <li><a href="#">移动电源</a></li>
                                <li><a href="#">电池/充电器</a></li> 
                              </ul>
                              <dl>
                                <dt>推荐商品</dt>
                                <dd><a href="#">耐翔  支架耳机</a></dd>
                               
                              </dl>
                            </div>
                        </li>
                        <li id="b_5">
                            <div class="b_1">
                                <h3>潮流配件</h3>
                                <a href="#">手环</a>
                                <a href="#">支架/钥匙扣</a>
                                <a href="#">智能配件</a>
                            </div>
                            <div id="b_2_6" class="b_2_6">
                              <ul>
                               <li><a href="#">手机游戏</a></li>
                                <li><a href="#">手机应用</a></li>
                                <li><a href="#">卡号套餐</a></li> 
                              </ul>
                            
                            </div>
                        </li>
                        <li id="b_6">
                            <div class="b_1">
                                <h3>应用市场</h3>
                                <a href="#">手机游戏</a>
                                <a href="#">手机应用</a>
                            </div>
                            <div></div>
                        </li>
                    </ol>
                </div>
            </div>
            <ul class="title_nav">
                <li>
                    <a href="#">首页</a>
                </li>
                <li class="hot">
                    <a href="#">
                        <span>
                            荣耀6
                            <s class='top'>
                                <img src="http://res.vmall.com/images/echannel/icon/new.png" alt="">
                            </s>
                        </span>
                    </a>
                </li>
                <li class="hot">
                    <a href="#">
                        <span>
                            荣耀家族
                            <s class='top'>
                                <img src="  http://res.vmall.com/images/echannel/icon/hot.png" alt="">
                            </s>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">花粉俱乐部</a>
                </li>
                <li>
                    <a href="#">精彩频道</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="main_t">
            <ul id="main">
                <li>
                    <a href="#">
                        <img src="" alt="">
                    </a>
                </li>
            </ul>
            <div id="chang_1" class="chang_1">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hr-20"></div>
    <div class="main_2">
        <div class="main_2_l">
            <ul>
                <li class="move">
                    <div class="main_2_7">
                        <div class="main_2_6">
                            <a href="#">
                                <img src="http://res.vmall.com/pimages//frontLocation/content/48493/1411697419382.png" alt="">
                            </a>
                        </div>
                        <div class="main_2_2">
                            <a href="#">Mate7 标准版</a>
                        </div>
                        <div class="main_2_3">
                            <div class="main_2_9">爵士人生Live once.Live life</div>
                            <div class="main_2_8">10月17日10:08再次开售</div>
                        </div>
                        <div class="main_2_4">
                            <em>￥</em>
                            <span>2999</span>
                        </div>
                        <div class="main_2_5">
                            <a href="#">立即抢购</a>
                        </div> 
                    </div><!-- <i><img src="http://res.vmall.com/pimages//tag/5/1382593860805.png" alt=""></i> -->
                    
                </li>
                <li>
                    <div class="main_2_7">
                        <div class="main_2_6">
                            <a href="#">
                                <img src="http://res.vmall.com/pimages//frontLocation/content/51409/1408090785851.png" alt="">
                            </a>
                        </div>
                        <div class="main_2_2">
                            <a href="#">Mate7 标准版</a>
                        </div>
                        <div class="main_2_3">
                            <div class="main_2_9">时尚新宠，超薄4G</div>
                            <div class="main_2_8">1卓越非凡 自在尊享</div>
                        </div>
                        <div class="main_2_4">
                            <em>￥</em>
                            <span>2588</span>
                        </div>
                        <div class="main_2_5">
                            <a href="#">立即抢购</a>
                        </div> <i><img src="http://res.vmall.com/pimages//tag/1/1382542488099.png" alt=""></i>
                    </div>
                </li>
                <li><div class="move">
                    <div class="main_2_7">
                        <div class="main_2_6">
                            <a href="#">
                                <img src="http://res.vmall.com/pimages//frontLocation/content/38/1411438121930.png" alt="">
                            </a>
                        </div>
                        <div class="main_2_2">
                            <a href="#">荣耀平板</a>
                        </div>
                        <div class="main_2_3">
                            <div class="main_2_9">大有可为</div>

                        </div>
                        <div class="main_2_4">
                            <em>￥</em>
                            <span>799</span>
                        </div>
                        <div class="main_2_5">
                            <a href="#">立即抢购</a>
                        </div>
                    </div>
                    </div>
                </li>
                <li>
                <div class="move">
                    <div class="main_2_7">
                        <div class="main_2_6">
                            <a href="#">
                                <img src="http://res.vmall.com/pimages//frontLocation/content/35/1413430159191.png" alt="">
                            </a>
                        </div>
                        <div class="main_2_2">
                            <a href="#">荣耀智能手环</a>
                        </div>
                        <div class="main_2_3">
                            <div class="main_2_9">能通话的健康智能手环</div>
                            <div class="main_2_8">新增颜色时尚红、柠檬黄</div>
                        </div>
                        <div class="main_2_4">
                            <em>￥</em>
                            <span>938</span>
                        </div>
                        <div class="main_2_5">
                            <a href="#">立即抢购</a>
                        </div>
                        <i>
              <img src="http://res.vmall.com/pimages//tag/3/1382542518162.png" alt=""></i>
                    </div></div>

                </li>
            </ul>
        </div>
        <div class="main_2_r_1">
            <a href="#">
                <img src="http://res.vmall.com/pimages//frontLocation/richtext2014/20140923175842780.jpg" alt="">
            </a>
        </div>
        <div></div>
        <div class="main_2_r_2">
            <div class="text_1">
                <ul>
                    <li>
                        <a href="#">新闻</a>
                    </li>
                    <li>
                        <a href="#">公告</a>
                    </li>
                </ul>
            </div>
            <ul>
                <li>
                    <a href="#">会员荣耀抢购专场，激活会员赢荣耀手机!</a>
                </li>
                <li>
                    <a href="#">会员荣耀抢购专场，激活会员赢荣耀手机!</a>
                </li>
                <li>
                    <a href="#">会员荣耀抢购专场，激活会员赢荣耀手机!</a>
                </li>
                <li>
                    <a href="#">会员荣耀抢购专场，激活会员赢荣耀手机!</a>
                </li>
                <li>
                    <a href="#">会员荣耀抢购专场，激活会员赢荣耀手机!</a>
                </li>
            </ul>
        </div>

        <div class="main_2_r_3">
            <a href="#">
                <img src="http://res.vmall.com/pimages//sale/2014-05/20140509105527587.jpg" alt="">
            </a>
        </div>
    </div>
    <div id="main_3" class="main_3">
        <a href="#">
            <img src="" alt="">
        </a>
        <div id="chang_2" class="chang_2">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="main_4">
        <div class="main_4_nav">
            <h2>
                <a href="#">手机</a>
            </h2>
            <em>华为精品手机</em>

            <ul class="main_4_nav_1">
                <li>
                    <a href="#">手机</a>
                </li>
                <li>
                    <a href="#">合约机</a>
                </li>
                <li>
                    <a href="#">号卡套餐</a>
                </li>
            </ul>
        </div>
        <ul class="p_list">
            <li>
                <div class="p_info">
                    <div class="p_img">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/42/1411550048549.png" alt="">
                        </a>
                    </div>
                    <div class="p_name">
                        <a href="#">荣耀6套餐版</a>
                    </div>
                    <div class="p_shining">
                        <div class="p_shining_1">全球首款八核4G Cat6手机</div>
                        <div class="p_shining_2">限量赠送豪华配件套装</div>
                    </div>
                    <div class="p_price">
                        <em>￥</em>
                        <span>2199</span>
                    </div>
                    <div class="p_button">
                        <a href="#">立即抢购</a>
                    </div>
                    <i>
            <img src="http://res.vmall.com/pimages//tag/1/1382542488099.png" alt=""></i>
                </div>
            </li>
            <li>
                <div class="p_info_1">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/508/1412756469986.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              【广东联通超值100特惠60元套餐】荣耀3c畅玩版
              <span>最低门槛，劲爆优惠</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>699</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="p_info_2">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/44/1413527201151.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              荣耀畅玩4
              <span>套餐版 赠NFC蓝牙音箱</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>999</span>
                    </div>
                    <i>
            <img src="http://res.vmall.com/pimages//tag/3/1382542518162.png" alt=""></i>
                </div>
            </li>
            <li>
                <div class="p_info_3">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/47231/1411113972847.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              荣耀X1
              <span>超清大屏 更多精彩</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>1999</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="p_info_4">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/25919/1410655345576.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              Mate2
              <span>6.1寸大屏 4050mAh大电池</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>2488</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="p_info_5">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/52166/1409728940156.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              C199
              <span>麦芒 支持电信4G 中国好声音手机</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>1999</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="p_info_6">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/54312/1412739211379.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              荣耀3c电信版
              <span>开放购买 赠保护膜</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>799</span>
                    </div>
                    <i>
            <img src="http://res.vmall.com/pimages//tag/1/1382542488099.png" alt=""></i>
                </div>
            </li>
        </ul>
    </div>
    <div class="main_5">
        <div class="main_4_nav">
            <h2>
                <a href="#">平板电脑</a>
            </h2>
            <em>华为精品平板</em>

            <ul class="main_4_nav_1">
                <li>
                    <a href="#">平板电脑</a>
                </li>
                <li>
                    <a href="#">配件</a>
                </li>
            </ul>
        </div>
        <ul class="p_list">
            <li>
                <div class="p_info">
                    <div class="p_img">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/46/1413354323935.png" alt="">
                        </a>
                    </div>
                    <div class="p_name">
                        <a href="#">MediaPad 10 Link+ 10.1英寸平板电脑</a>
                    </div>
                    <div class="p_shining_3">
                        <div class="p_shining_1">航空铝合金轻感机身，IPS全视角屏幕</div>
                    </div>
                    <div class="p_price">
                        <em>￥</em>
                        <span>1499</span>
                    </div>
                    <div class="p_button">
                        <a href="#">立即抢购</a>
                    </div>

                </div>
            </li>
            <li>
                <div class="p_info_1">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/50/1409628501387.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              MediaPad 7 Vogue
              <span>至强四核体验</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>1399</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="p_info_2">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/48/1409731086850.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              MediaPad Youth2
              <span>高速四核 自在分享</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>899</span>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="main_4">
        <div class="main_4_nav">
            <h2>
                <a href="#">宽带网路</a>
            </h2>
            <em>上网必备</em>

            <ul class="main_4_nav_1">
                <li>
                    <a href="#">移动网络</a>
                </li>
                <li>
                    <a href="#">家庭网络</a>
                </li>
                <li>
                    <a href="#">秘盒</a>
                </li>
            </ul>
        </div>
        <ul class="p_list">
            <li>
                <div class="p_info">
                    <div class="p_img">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/53/1403518117911.png" alt="">
                        </a>
                    </div>
                    <div class="p_name">
                        <a href="#">喵王（金色）</a>
                    </div>
                    <div class="p_shining">
                        <div class="p_shining_1">急速口袋电猫</div>

                    </div>
                    <div class="p_price">
                        <em>￥</em>
                        <span>488</span>
                    </div>
                    <div class="p_button">
                        <a href="#">立即抢购</a>
                    </div>

                </div>
            </li>
            <li>
                <div class="p_info_1">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/59/1408773685263.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              荣耀立方
              <span>立方=电视盒子×存储×路由</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>598</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="p_info_2">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/56/1413249163854.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              WS330
              <span>300M 智能无线路由器 智能天线方案 3D全方位覆盖</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>149</span>
                    </div>

                </div>
            </li>
            <li>
                <div class="p_info_3">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/23189/1411117600303.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              华为 HUAWEI MT660a 宽带“猫”王（黑色）
              <span>立式经典时尚</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>89</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="p_info_4">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/54/1406097134140.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              PT500 500M电力线适配器
              <span>荣耀立方的好伙伴</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>138</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="p_info_5">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/2150/1412176224336.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              WS328
              <span>腾讯版 300M安全无线路由器 内置腾讯电脑管家&手机管家</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>139</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="p_info_6">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/17367/1403071057169.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              WS331a 300M 便携无线路由器
              <span>时尚小巧 轻装出行</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>99</span>
                    </div>

                </div>
            </li>
        </ul>
    </div>
    <div class="main_6">
        <div class="main_4_nav">
            <h2>
                <a href="#">必备配件</a>
            </h2>
            <em>配件与服务</em>

            <ul class="main_4_nav_1">
                <li>
                    <a href="#">保护壳</a>
                </li>
                <li>
                    <a href="#">保护套</a>
                </li>
                <li>
                    <a href="#">贴膜</a>
                </li>
                <li>
                    <a href="#">蓝牙耳机</a>
                </li>
                <li>
                    <a href="#">入耳式耳机</a>
                </li>
                <li>
                    <a href="#">头戴耳机</a>
                </li>
            </ul>
        </div>
        <ul class="p_list">
            <li>
                <div class="p_info">
                    <div class="p_img">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/36589/1409885742884.png" alt="">
                        </a>
                    </div>
                    <div class="p_name">
                        <a href="#">华为秘盒</a>
                    </div>
                    <div class="p_shining">
                        <div class="p_shining_1">互联网迄今真正发烧的盒子</div>

                    </div>
                    <div class="p_price">
                        <em>￥</em>
                        <span>488</span>
                    </div>
                    <div class="p_button">
                        <a href="#">立即抢购</a>
                    </div>
                    <i>
            <img src="http://res.vmall.com/pimages//tag/1/1382542488099.png" alt=""></i>
                </div>
            </li>
            <li>
                <div class="p_info_1">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/66/1411458602453.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              华为 AM180
              <span>主动降噪耳机 卸下烦噪 静享生活</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>699</span>
                    </div>
                    <i>
            <img src="http://res.vmall.com/pimages//tag/3/1382542518162.png" alt=""></i>
                </div>
            </li>
            <li>
                <div class="p_info_2">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/50588/1413430403605.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              华为 Color Cube
              <span>立体声蓝牙音箱 极简ID，震撼音效</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>399</span>
                    </div>

                </div>
            </li>
            <li>
                <div class="p_info_3">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/42079/1402289706240.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              联通3G无线上网年卡
              <span>流量由你自由掌控</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>388</span>
                    </div>
                    <i>
            <img src="http://res.vmall.com/pimages//tag/6/1382542555129.png" alt=""></i>
                </div>
            </li>
            <li>
                <div class="p_info_4">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/27726/1413024586920.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              Mate7 智能翻盖保护套
              <span>完美契合 体验极致科技</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>199</span>
                    </div>
                    <i>
            <img src="http://res.vmall.com/pimages//tag/3/1382542518162.png" alt=""></i>
                </div>
            </li>
            <li>
                <div class="p_info_5">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/4045/1411874156626.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              Mate7 智能翻盖保护套
              <span>完美契合 体验极致科技</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>199</span>
                    </div>

                </div>
            </li>
            <li>
                <div class="p_info_6">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/50398/1407292874437.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              车载手机吸盘支架
              <span>360度旋转，免运费</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>16.8</span>
                    </div>
                    <i>
            <img src="http://res.vmall.com/pimages//tag/3/1382542518162.png" alt=""></i>
                </div>
            </li>
            <li>
                <div class="p_info_3">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/53302/1409305612101.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              荣耀6
              <span>创意手机保护壳 进口3D浮雕彩绘工艺</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>69</span>
                    </div>
                    <i>
            <img src="http://res.vmall.com/pimages//tag/3/1382542518162.png" alt=""></i>
                </div>
            </li>
            <li>
                <div class="p_info_4">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/45905/1404208340680.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              荣耀引擎耳机
              <span>属于你的音乐头等舱</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>99</span>
                    </div>
                    <i>
            <img src="http://res.vmall.com/pimages//tag/1/1382542488099.png" alt=""></i>
                </div>
            </li>
            <li>
                <div class="p_info_5">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/49061/1411183162275.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              华为 HUAWEI Colortooth
              <span>多彩蓝牙耳机 波纹般ID设计，可粘贴底座</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>169</span>
                    </div>
                    <i>
            <img src="http://res.vmall.com/pimages//tag/1/1382542488099.png" alt=""></i>
                </div>
            </li>
            <li>
                <div class="p_info_6">
                    <div class="p_img_1">
                        <a href="#">
                            <img src="http://res.vmall.com/pimages//frontLocation/content/52986/1409129521399.png" alt="">
                        </a>
                    </div>
                    <div class="p_name_1">
                        <a href="#">
              耐翔 蜂巢 蓝牙耳机
              <span>超长待机，高清通话，免运费</span>
            </a>
                    </div>
                    <div class="p_price_1">
                        <em>￥</em>
                        <span>59.9</span>
                    </div>
                    <i>
            <img src="http://res.vmall.com/pimages//tag/3/1382542518162.png" alt=""></i>
                </div>
            </li>
        </ul>
    </div>
    <div class="main_7">
        <a href="#">
            <img src="http://res.vmall.com/pimages//sale/2014-08/20140825101353417.jpg" alt="">
        </a>
    </div>
    <div class="emprt"></div>
    <div class="follow">
        <div class="layout">
            <ul>
                <li>
                    <a href="#">
                        <img src="http://res.vmall.com/20141011/images/echannel/misc/follow_sina.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="http://res.vmall.com/20141011/images/echannel/misc/follow_weibo.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="http://res.vmall.com/20141011/images/echannel/misc/follow_android.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer_1">
        <ul>
            <li class="s1">
                <b></b>
                500强企业品质保障
            </li>
            <li class="s2">
                <b></b>
                7天退货 15天换货
            </li>
            <li class="s3">
                <b></b>
                200元起免运费
            </li>
            <li class="s4">
                <b></b>
                448家维修网点 全国联保
            </li>
        </ul>
    </div>
    <div class="footer_2">
        <dl>
            <dt>
                <!-- <i></i>
      -->帮助中心
            </dt>
            <dd>
                <ol>
                    <li>
                        <a href="#">
                            <b></b>
                            购物指南
                        </a>
                    </li>
                    <li>
                        <a href="#">配送方式</a>
                    </li>
                    <li>
                        <a href="#">支付方式</a>
                    </li>
                    <li>
                        <a href="#">常见问题</a>
                    </li>
                </ol>
            </dd>
        </dl>
        <dl>
            <dt>
                <b></b>
                售后服务
            </dt>
            <dd>
                <ol>
                    <li>
                        <a href="#">购物指南</a>
                    </li>
                    <li>
                        <a href="#">配送方式</a>
                    </li>
                    <li>
                        <a href="#">支付方式</a>
                    </li>
                    <li>
                        <a href="#">常见问题</a>
                    </li>
                </ol>
            </dd>
        </dl>
        <dl>
            <dt>
                <b></b>
                技术中心
            </dt>
            <dd>
                <ol>
                    <li>
                        <a href="#">购物指南</a>
                    </li>
                    <li>
                        <a href="#">配送方式</a>
                    </li>
                    <li>
                        <a href="#">支付方式</a>
                    </li>
                    <li>
                        <a href="#">常见问题</a>
                    </li>
                </ol>
            </dd>
        </dl>
        <dl>
            <dt>
                <b></b>
                关于商城
            </dt>
            <dd>
                <ol>
                    <li>
                        <a href="#">购物指南</a>
                    </li>
                    <li>
                        <a href="#">配送方式</a>
                    </li>
                    <li>
                        <a href="#">支付方式</a>
                    </li>
                    <li>
                        <a href="#">常见问题</a>
                    </li>
                </ol>
            </dd>
        </dl>
        <dl>
            <dt>
                <b></b>
                关注我们
            </dt>
            <dd>
                <ol>
                    <li>
                        <a href="#">购物指南</a>
                    </li>
                    <li>
                        <a href="#">配送方式</a>
                    </li>
                    <li>
                        <a href="#">支付方式</a>
                    </li>
                    <li>
                        <a href="#">常见问题</a>
                    </li>
                </ol>
            </dd>
        </dl>
    </div>
    <div class="footer_3">

        <p>
            <span>友情链接：|</span>
            <a href="#">
      华为官网
      <b>|</b>
    </a>
            <a href="#">
      华为商城手机版
      <b>|</b>
    </a>
            <a href="#">
      Cloud+
      <b>|</b>
    </a>
            <a href="#">
      天天浏览器
      <b>|</b>
    </a>
            <a href="#">
      莫赛尔商场
      <b>|</b>
    </a>
            <a href="#">
      爱旅官网
      <b>|</b>
    </a>
            <a href="#">
      华为应用市场
      <b>|</b>
    </a>
            <a href="#">
      万表网
      <b>|</b>
    </a>
            <a href="#">
      手机之家
      <b>|</b>
    </a>
            <a href="#">
      钻石小鸟
      <b>|</b>
    </a>
            <a href="#">
      刷机精灵
      <b>|</b>
    </a>
            <a href="#">
      中商情报网
      <b>|</b>
    </a>
            <a href="#">
      易购网
      <b>|</b>
    </a>
            <a href="#">
      安卓市场
      <b>|</b>
    </a>
            <a href="#">
      优购物
      <b>|</b>
    </a>
            <a href="#">
      移动叔叔
      <b>|</b>
    </a>
        </p>
        <p>
            <span>友情链接：|</span>
            <a href="#">
      华为官网
      <b>|</b>
    </a>
            <a href="#">
      华为商城手机版
      <b>|</b>
    </a>
            <a href="#">
      Cloud+
      <b>|</b>
    </a>
            <a href="#">
      天天浏览器
      <b>|</b>
    </a>
            <a href="#">
      莫赛尔商场
      <b>|</b>
    </a>
            <a href="#">
      爱旅官网
      <b>|</b>
    </a>
            <a href="#">
      华为应用市场
      <b>|</b>
    </a>
            <a href="#">
      万表网
      <b>|</b>
    </a>
            <a href="#">
      手机之家
      <b>|</b>
    </a>
            <a href="#">
      钻石小鸟
      <b>|</b>
    </a>
            <a href="#">
      刷机精灵
      <b>|</b>
    </a>
            <a href="#">
      中商情报网
      <b>|</b>
    </a>
            <a href="#">
      易购网
      <b>|</b>
    </a>
            <a href="#">
      安卓市场
      <b>|</b>
    </a>
            <a href="#">
      优购物
      <b>|</b>
    </a>
            <a href="#">
      移动叔叔
      <b>|</b>
    </a>
        </p>
        <p>
            <span>友情链接：|</span>
            <a href="#">
      华为官网
      <b>|</b>
    </a>
            <a href="#">
      华为商城手机版
      <b>|</b>
    </a>
            <a href="#">
      Cloud+
      <b>|</b>
    </a>
            <a href="#">
      天天浏览器
      <b>|</b>
    </a>
            <a href="#">
      莫赛尔商场
      <b>|</b>
    </a>
            <a href="#">
      爱旅官网
      <b>|</b>
    </a>
            <a href="#">
      华为应用市场
      <b>|</b>
    </a>
            <a href="#">
      万表网
      <b>|</b>
    </a>
            <a href="#">
      手机之家
      <b>|</b>
    </a>
            <a href="#">
      钻石小鸟
      <b>|</b>
    </a>
            <a href="#">
      刷机精灵
      <b>|</b>
    </a>
            <a href="#">
      中商情报网
      <b>|</b>
    </a>
            <a href="#">
      易购网
      <b>|</b>
    </a>
            <a href="#">
      安卓市场
      <b>|</b>
    </a>
            <a href="#">
      优购物
      <b>|</b>
    </a>
            <a href="#">
      移动叔叔
      <b>|</b>
    </a>
        </p>
        <div class="footer_4">
            <p>
                Copyright © 2011-2013 华为软件技术有限公司 版权所有 保留一切权利 苏B2-20130048号 | 苏ICP备09062682号-9
            </p>
            <p>
                <a href="#">网络文化经营许可证苏网文[2012]0401-019号</a>
            </p>
            <p class="footer_4_bottom">
                <img src="http://res.vmall.com/images/echannel/signature/certificate_01_112_40.png" alt="">
                <img src="http://res.vmall.com/images/echannel/signature/certificate_02_112_40.png" alt="">
                <img src="http://res.vmall.com/images/echannel/signature/certificate_03_112_40.png" alt="">
            </p>
        </div>
    </div>
    </div>
    <script type="text/javascript" src='../js/chang_1.js'></script>

</body>

</html>
