<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录京东</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/JDlogin.css">
</head>

<body>
    <div class="logo">
        <div class="logo1">
            <a href="#">
                <img src="https://passport.jd.com/new/misc/skin/df/i/logo-2013-l.png" alt="">
            </a><b> </b>
        </div>
    </div>
    <form class="formlogin" action="">
        <div class="form">
            <div class="extra-en"> <a href="#">[English]</a> 
            </div>
            <div class="main">
                <div class="img"></div>
                <div class="login">
                    <div class="text">
                        <span>邮箱/用户名/已验证手机</span>
                        <div class="info">
                            <input type="text"><b class='icon1'></b>
                        </div>
                    </div>
                    <div class="pwd">
                        <span>密码</span>
                        <div class="info">
                            <input type="password"><b class='icon2'></b>
                        </div>
                    </div>
                    <div class="item1">
                        <div class="item1-1">
                            <input type="checkbox">
                            <label for="">自动登录</label>
                            <div class="safety">
                                <input id='show' type="checkbox">
                                <label for="">安全控件登录
                                    <div class="p">安全控件可以提高账户安全性，加密保护你的密码</div>
                                </label>
                            </div>
                            <label for=""><a href="#">忘记密码？</a>
                            </label>
                        </div>
                    </div>
                    <div class="item2">
                        <input type="button" value="登录">
                    </div>
                </div>
            </div>
            <div class="cagent">
                <label for="">
                    使用合作伙伴账号登录京东
                    <br>
                    <span><a href="#">QQ</a>
                    </span>
                    <dl>
                        <dt><b>其它</b> 
                        </dt>
                        <dd>
                            <a class="a1" href="#">网易	</a>
                            <a class="a2" href="#">人人</a>
                            <a class="a1" href="#">豆瓣</a>
                            <a class="a2" href="#">搜狐</a>
                            <a class="a1" href="#">开心</a>
                            <a class="a2" href="#">支付宝</a>
                            <a class="a1" href="#">奇虎360</a>
                            <a class="a3" href="#">新浪微博</a>
                        </dd>
                    </dl>
                </label>
            </div>
            <div class="regist">
                <span><a href="#">免费注册&gt&gt</a>
                </span>

            </div>
        </div>

    </form>
    <div class="blank"></div>
    <div class="footer">
        <div class="footer1">
            <div class="links">
                <a href="#">关于我们</a>|
                <a href="#">联系我们</a>|
                <a href="#">人才招聘</a>|
                <a href="#">商家入驻</a>|
                <a href="#">广告服务</a>|
                <a href="#">手机京东</a>|
                <a href="#">友情链接</a>|
                <a href="#">销售联盟</a>|
                <a href="#">京东社区</a>|
                <a href="#">京东公益</a>|
            </div>
            <div class="copyright">Copyright©2004-2014 京东JD.com 版权所有</div>
        </div>
    </div>
    <div id="show1" class="thickdiv"></div>
    <div id="show2" class="thick">
        <div class="thicktitle">
            <span>提示</span>
        </div>
        <div class="thickcon">
            <div class="mc">
                <div class="text">
                    <p>安全控件可提高账户安全性，加密保护您的密码。<a href="#">了解更多&gt</a>
                    </p>
                    <ul>
                        <li>立即下载</li>
                        <li>手动安装</li>
                        <li>刷新页面，继续购物</li>
                    </ul>
                    <div class="btn"><a href="#">立即下载</a>
                    </div>
                </div>
            </div>
        </div>
        <a id="hidden" class="thicklose" href="#">x</a>
    </div>
    <script>
    window.onload = function() {
        var oShow = document.getElementById('show');
        var oShow1 = document.getElementById('show1');
        var oShow2 = document.getElementById('show2');
        var oHidden = document.getElementById('hidden');

        oShow.onclick=show;
        function show() {
        	oShow1.style.display='block';
        	oShow2.style.display='block';
        }
        show();
        oHidden.onclick=hidden;
        function hidden(){
            	oShow1.style.display='none';
        	oShow2.style.display='none';    	
        }
        hidden();
    }
    </script>
</body>

</html>
