<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>design－设计网站官网－专注设计</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
	<link rel="stylesheet" href="../css/FT.css">
	<link rel="stylesheet" href="../css/reset.css">
</head>

<body>
	<div class="header">
		<div class="head clearfix">
			<div class="logo"><img src="../images/logo.png" alt=""></div>
			<div class="nav">
				<ul class="clearfix">
					<li class="home active"><a href="javascript:void(0);">HOME</a> </li>
					<li class="product"><a href="javascript:void(0);">PRODUCT</a> </li>
					<li class="awards"><a href="javascript:void(0);">AWARDS</a> </li>
					<li class="about"><a href="javascript:void(0);">ABOUT</a> </li>
					<li class="contact"><a href="javascript:void(0);">CONTACT</a> </li>
				</ul>
			</div>
		</div>
	</div>
	<div id="floor_1" class="floor_1">
		<div class="nav_show">
			<p class="title">DESIGN CHANGES IN LIEF</p>
			<h1 class="logo_img"><img src="../images/logo_img.png" alt=""></h1>
			<h1 class="logo_font"><img src="../images/logo_font.png" alt=""></h1>
			<a class="down" href="javascript:void(0);" onclick="scTop()"></a>
		</div>
		<div class="nav">
			<!-- <img class="bg" src="../images/banner_1.jpg" alt=""> -->
			<p class="title">WHAT WE CAN DO</p>
			<ul class="clearfix">
				<li class="li_1">
					<div class="img"><img src="../images/nav_01.png" alt=""></div>
					<p class="title_n">产品规划</p>
					<p class="title_n_d">PRODUCT PLANNING</p>
				</li>
				<li class="li_1">
					<div class="img"><img src="../images/nav_02.png" alt=""></div>
					<p class="title_n">产品开发</p>
					<p class="title_n_d">DEVELOPMENT</p>
				</li>
				<li class="li_1">
					<div class="img"><img src="../images/nav_03.png" alt=""></div>
					<p class="title_n">工业设计</p>
					<p class="title_n_d">INDUSTRIAL DESIGN</p>
				</li>
				<li class="li_1">
					<div class="img"><img src="../images/nav_04.png" alt=""></div>
					<p class="title_n">包装设计</p>
					<p class="title_n_d">PACKAGE DESIGN</p>
				</li>
				<li class="li_1">
					<div class="img"><img src="../images/nav_05.png" alt=""></div>
					<p class="title_n">工程验证</p>
					<p class="title_n_d">STRUCTURAL DESIGN</p>
				</li>
				<li>
					<div class="img"><img src="../images/nav_06.png" alt=""></div>
					<p class="title_n">生产加工</p>
					<p class="title_n_d">PRODUCTION PROCESSING</p>
				</li>
				<a class="more" href="javascript:void(0);" onclick="moreShow()">MORE</a>
			</ul>
		</div>
	</div>
	<div class="floor_2">
		<div id="more">
			<p class="title">OUR SERVICE</p>
			<ul class="clearfix">
				<li>
					<div class="img">
						<img src="../images/nav_07.png" alt="">
					</div>
					<p class="name">委托设计服务</p>
					<p class="describe">工业设计外包服务</p>
				</li>
				<li>
					<div class="img">
						<img src="../images/nav_09.png" alt="">
					</div>
					<p class="name">设计+供应链</p>
					<p class="describe">完成设计外包项目并提供售后续小批量样机制造和模具批量生产服务</p>
				</li>
				<li>
					<div class="img">
						<img src="../images/nav_10.png" alt="">
					</div>
					<p class="name">免费设计+销售提成</p>
					<p class="describe">免费提供设计外包和供应链服务，并接受 销售服务，销售利润按照协议进行抽
					</p>
				</li>
				<li>
					<div class="img">
						<img src="../images/nav_08.png" alt="">
					</div>
					<p class="name">设计换取持股比例</p>
					<p class="describe">以提供设计或设计+供应链服务的价值，换算成 对方相应股份比例，以持股为最终服务模式。
					</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="floor_3 flexslider" id="b04">
		<ul class="slides clearfix">
			<li style="background:url(../images/banner.jpg)  50% 0 no-repeat;">
			</li>
			<li style="background:url(../images/banner_2.jpg)  50% 0 no-repeat;">
			</li>
			<li style="background:url(../images/banner_4.jpg)  50% 0 no-repeat;">
			</li>
			<li style="background:url(../images/banner_2.jpg)  50% 0 no-repeat;">
			</li>
		</ul>
	</div>
	<div class="floor_4">
		<div class="product_show_1 clearfix">
			<div class="show_lside" onclick="productShow('0')">
				<div class="box">
					<p><span>标题</span><br>这是一些介绍</p>

				</div>
				<div class="inner"><img src="../images/item_1.jpg" alt=""></div>
			</div>
			<div class="show_rside">
				<div class="rside_top">
					<ul class="clearfix">
						<li>
							<div class="box">
		
								<p><span>标题</span><br>这是一些介绍</p>

							</div>
							<div class="inner"><img src="../images/item_2.jpg" alt=""></div>
							<li>
								<li>
									<div class="box">
				
										<p><span>标题</span><br>这是一些介绍</p>

									</div>
									<div class="inner"><img src="../images/item_3.jpg" alt=""></div>
									<li>
					</ul>
				</div>
				<div class="rside_dw" onclick="productShow('1')">
					<div class="box">

						<p><span>标题</span><br>这是一些介绍</p>

					</div>
					<div class="inner"><img src="../images/item_4.jpg" alt=""></div>
				</div>
			</div>
		</div>
		<div class="product_show_2 clearfix">
			<div class="show_lside" onclick="productShow('1')">
				<ul class="clearfix">
					<li class="li_1">
						<div class="box">
	
							<p><span>标题</span><br>这是一些介绍</p>

						</div>
						<div class="inner"><img src="../images/item_5.jpg" alt=""></div>
					</li>
					<li class="li_2">
						<div class="box">
	
							<p><span>标题</span><br>这是一些介绍</p>

						</div>
						<div class="inner"><img src="../images/item_6.jpg" alt=""></div>
					</li>
					<li class="li_3">
						<div class="box">
	
							<p><span>标题</span><br>这是一些介绍</p>

						</div>
						<div class="inner"><img src="../images/item_8.jpg" alt=""></div>
					</li>
					<li class="li_3">
						<div class="box">
	
							<p><span>标题</span><br>这是一些介绍</p>

						</div>
						<div class="inner"><img src="../images/item_9.jpg" alt=""></div>
					</li>
					<li class="li_4">
						<div class="box">
							<p><span>标题</span><br>这是一些介绍</p>
						</div>
						<div class="inner"><img src="../images/item_10.jpg" alt=""></div>
					</li>
				</ul>
			</div>
			<div class="show_rside">
				<div class="box">
					<p><span>标题</span><br>这是一些介绍</p>

				</div>
				<div class="inner"><img src="../images/item_7.jpg" alt=""></div>
			</div>
		</div>
		<div class="product_show_3">
			<ul class="clearfix">
				<li class="li_1">
					<div class="box">

						<p><span>标题</span><br>这是一些介绍</p>

					</div>
					<div class="inner"><img src="../images/item_11.jpg" alt=""></div>
				</li>
				<li class="li_2">
					<div class="box">

						<p><span>标题</span><br>这是一些介绍</p>

					</div>
					<div class="inner"><img src="../images/item_10.jpg" alt=""></div>
				</li>
				<li class="li_3">
					<div class="box">

						<p><span>标题</span><br>这是一些介绍</p>

					</div>
					<div class="inner"><img src="../images/item_14.jpg" alt=""></div>
				</li>
			</ul>
		</div>
		<div class="product_show_4 clearfix">
			<div class="show_lside">
				<div class="lside_top">
					<div class="box">

						<p><span>标题</span><br>这是一些介绍</p>

					</div>
					<div class="inner"><img src="../images/item_15.jpg" alt=""></div>
				</div>
				<div class="lside_dw">
					<ul class="clearfix">
						<li>
							<div class="box">
		
								<p><span>标题</span><br>这是一些介绍</p>

							</div>
							<div class="inner"><img src="../images/item_20.jpg" alt=""></div>
						</li>
						<li>
							<div class="box">
		
								<p><span>标题</span><br>这是一些介绍</p>

							</div>
							<div class="inner"><img src="../images/item_21.jpg" alt=""></div>
						</li>
					</ul>
				</div>
			</div>
			<div class="show_m_1">
				<div class="box">
					<p><span>标题</span><br>这是一些介绍</p>

				</div>
				<div class="inner"><img src="../images/item_16.jpg" alt=""></div>
			</div>
			<div class="show_m_2">
				<ul>
					<li>
						<div class="box">
							<p><span>标题</span><br>这是一些介绍</p>
						</div>
						<div class="inner"><img src="../images/item_17.jpg" alt=""></div>
					</li>
					<li>
						<div class="box">
							<p><span>标题</span><br>这是一些介绍</p>
						</div>
						<div class="inner"><img src="../images/item_18.jpg" alt=""></div>
					</li>
				</ul>
			</div>
			<div class="show_rside">
				<div class="box">
					<p><span>标题</span><br>这是一些介绍</p>

				</div>
				<div class="inner"><img src="../images/item_19.jpg" alt=""></div>
			</div>
		</div>
	</div>
	<div class="floor_5">
		<img src="../images/banner_3.jpg" alt="" class="bg">
		<h1>AWARDS</h1>
		<p class="title_1">OUR ACOMPLISHMENTS</p>
		<div class="awards">
			<ul class="clearfix">
				<li>
					<div class="img"><img src="../images/awards.png" alt=""></div>
					<p>STRUCTURAL DESIGN</p>
				</li>
				<li>
					<div class="img"><img src="../images/awards.png" alt=""></div>
					<p>STRUCTURAL DESIGN</p>
				</li>
				<li>
					<div class="img"><img src="../images/awards.png" alt=""></div>
					<p>STRUCTURAL DESIGN</p>
				</li>
				<li>
					<div class="img"><img src="../images/awards_1.png" alt=""></div>
					<p>STRUCTURAL DESIGN</p>
				</li>
			</ul>
			<ul class="clearfix" style="margin-top:25px;">
				<li>
					<div class="img"><img src="../images/awards_2.png" alt=""></div>
				</li>
				<li>
					<div class="img"><img src="../images/awards_2.png" alt=""></div>
				</li>
				<li>
					<div class="img"><img src="../images/awards_2.png" alt=""></div>
				</li>
				<li>
					<div class="img"><img src="../images/awards_2.png" alt=""></div>
				</li>
			</ul>
		</div>
	</div>
	<div class="floor_6">
		<h1>ABOUT US</h1>
		<p class="state">dkjsduhdfhsdfiodfhosdoifsdosifiosfiosisjiiosiosiodfhosdoifsd</p>
		<p class="state">dkjsduhdfhsdfiodfhosdoifsdosifiosfiosisjiiosios</p>
		<p class="state">dkjsduhdfhsdfosifiosfiosisjiiosios</p>
		<h3>关于FT design <a href="#">点击下载</a></h3>
		<div class="item clearfix">
			<ul class="ul_lside_1">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<ul class="ul_lside">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<ul class="ul_1">
				<li>
				</li>
				<li><img src="../images/show.jpg" alt="">
					<div class="introduce">
						<p class="name">LIU DI</p>
						<p class="text">xxxxxxssssaaaaas是世界上是多少思考思考</p>
					</div>
				</li>
				<li>
				</li>
			</ul>
			<ul class="ul_2">
				<li></li>
				<li><img src="../images/show_01.png" alt="">
					<div class="introduce">
						<p class="name">LIU DI</p>
						<p class="text">xxxxxxssssaaaaas是世界上是多少思考思考</p>
					</div>
				</li>
				<li><img src="../images/show_02.png" alt="">
					<div class="introduce">
						<p class="name">LIU DI</p>
						<p class="text">xxxxxxssssaaaaas是世界上是多少思考思考</p>
					</div>
				</li>
				<li>
				</li>
			</ul>
			<ul class="ul_3">
				<li>
				</li>
				<li><img src="../images/show_03.jpg" alt="">
					<div class="introduce">
						<p class="name">LIU DI</p>
						<p class="text">xxxxxxssssaaaaas是世界上是多少思考思考</p>
					</div>
				</li>
				<li><img src="../images/show_03.jpg" alt="">
					<div class="introduce">
						<p class="name">LIU DI</p>
						<p class="text">xxxxxxssssaaaaas是世界上是多少思考思考</p>
					</div>
				</li>
				<li>
				</li>
			</ul>
			<ul class="ul_4">
				<li>
				</li>
				<li><img src="../images/show_04.jpg" alt="">
					<div class="introduce">
						<p class="name">LIU DI</p>
						<p class="text">xxxxxxssssaaaaas是世界上是多少思考思考</p>
					</div>
				</li>
				<li><img src="../images/show_04.jpg" alt="">
					<div class="introduce">
						<p class="name">LIU DI</p>
						<p class="text">xxxxxxssssaaaaas是世界上是多少思考思考</p>
					</div>
				</li>
				<li>
				</li>
			</ul>
			<ul class="ul_5">
				<li>
				</li>
				<li><img src="../images/show_05.jpg" alt="">
					<div class="introduce">
						<p class="name">LIU DI</p>
						<p class="text">xxxxxxssssaaaaas是世界上是多少思考思考</p>
					</div>
				</li>
				<li>
				</li>
			</ul>
			<ul class="ul_rside">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<ul class="ul_rside_1">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<div class="company">
			<ul class="clearfix">
				<li class="li_1"><span class="city">北京</span>鸿锦天成设计有限公司<i>\</i></li>
				<li class="li_2"><span class="city">深圳</span>智兴德科技有限公<i>\</i></li>
				<li class="li_3"><span class="city">成都</span>鸿锦天成科技有限公司<i>\</i> </li>
				<li class="li_4"><span class="city">武汉</span>鸿锦天成设计有限公司</li>
			</ul>
		</div>
	</div>
	<div class="floor_7">
		<!-- <img class="bg" src="../images/banner_4.jpg" alt=""> -->
		<h1>COTNACT</h1>
		<div class="contact">
			<div class="w-ele sns">
				<dl>
					<dt>SNS</dt>
					<dd>微信搜索:hongjin-805</dd>
					<dd>微博关注:fortaldesign</dd>
				</dl>
			</div>
			<div class="w-ele e-mail">
				<dl>
					<dt>E-mail</dt>
					<dd>刘程：405294589@qq.com</dd>
				</dl>
			</div>
			<div class="w-ele adress">
				<dl>
					<dt>Address</dt>
					<dd>北京：北京市朝阳区酒仙桥东路10号冠捷北京Madnet二层</dd>
					<dd>
						深圳：宝安区松岗街潭头第三工业区B6栋1楼</dd>
					<dd>
						武汉：蔡甸区汉阳大道恒大绿洲5-2-204</dd>
					<dd>
						成都：成都高新区天府软件园A区9栋3楼</dd>
				</dl>
			</div>
			<div class="w-ele tell">
				<dl>
					<dt>Phone</dt>
					<dd>北京：+86 18910163971（晏先生）</dd>
					<dd>
						深圳：+86 15919910276（陈先生）</dd>
					<dd>
						武汉：+86 15327429326（赵先生）</dd>
					<dd>
						成都：+86 18227625117（刘先生）</dd>
				</dl>
			</div>
		</div>
	</div>
	<!-- <div class="product_spread"><div class="spread_content "><div class="clearfix">
			<h1>PRODUCT</h1><div class="explain"><p class="title">SDFDSFF</p><p class="introduce">KDJSFJOSDOFIJDSOJFODSO      OJDFOGIJDODFJGDFIG   DJSOGISDSDVDSVFDS</p></div></div>
			<div class="product_show"><a class="cancel" href="javascript:void(0);"></a><a class="pre" href="javascript:void(0);"></a><a class="next" href="javascript:void(0);"></a><img src="../images/product.jpg" alt=""></div></div></div> -->
	<div class="footer">
		<div class="foot">
			<p>xxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
		</div>
	</div>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/FT.js"></script>
	<script src="../js/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="../js/jquery.scrollTo.js">
	</script>
</body>

</html>
