<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="header_1">
                <div class="header_2">
                    <img src="http://res.vmall.com/up/rss_16/default/clouds_rss/images/common/logo2.png?20140804" alt=""><span>|</span><span>华为商城	</span>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main_l"><img src="http://res.vmall.com/up/rss_16/default/portal_rss/images/echannel/bg/bg11.jpg" alt="">
            </div>
            <div class="main_r">
                <h3>欢迎登录华为账号</h3>
                <form action="">
                    <input class="text" type="text" placeholder='手机/邮箱/用户名'>
                    <input class="pwd" type="password" placeholder='密码（6~32个字符）'>
                    <table>
                        <tr>
                            <td class="td-1">
                                <input class="text_1" type="text" placeholder='不区分大小写'>
                            </td>
                            <td class="td-2"><img src="http://hwid1.vmall.com/casserver/randomcode" alt="">
                            </td>
                            <td class="td-3"><img src="http://res.vmall.com/up/rss_17/default/clouds_rss/images/common/chg_image.png?201410241" alt="">
                            </td>
                        </tr>
                    </table>
                    <input class="text_3" type="checkbox"><span class='text_3_1'>记住用户</span><span class='text_3_2'><a href="">忘记密码？</a></span>
                    <input class="text_4" type="submit" value="登录">
                </form>
                <span class='dl'>使用合作网站账号登录：</span>

                <a class="text_5" href="#"></a>
                <a class="text_6" href="#"></a>
            </div>
            <div class="text_7">
                <p>没有华为账号？<a href="#">免费注册</a>
                </p>
                <p>华为账号可登陆华为商城、花粉俱乐部、应用市场、Could+、华为网盘、华为开发者联盟等华为云服务</p>
            </div>

        </div>
        <div class="footer">
            <p>《华为账号服务条款、华为隐私政策》</p>
            <p>Copyright © 2011-2013 华为软件技术有限公司 版权所有 保留一切权利 苏B2-20070200号 | 苏ICP备09062682号-9</p>
        </div>
    </div>
</body>

</html>
